<table>
	<tr>
		<th>Registered_id</th>
		<td><%= @user.registered_id %></td>
	</tr>
	<tr>
		<th>First name</th>
		<td><%= @user.first_name %></td>
	</tr>
	<tr>
		<th>Last name</th>
		<td><%= @user.last_name %></td>
	</tr>
	<tr>
		<th>Email</th>
		<td><%= @user.email %></td>
	</tr>
	<tr>
		<th>Role</th>
		<td><%= @user.role %></td>
	</tr>
	<tr>
		<th>Password</th>
		<td><%= @user.password_digest%></td>
	</tr>

</table>