


<div id = "posts_new_wrapper">
	<div id = "posts_new_wrapper_in">
		<div id = "post_form">

		<%= form_for(:post, :url => {:action => "update", :id => @post.id}) do |f| %>

	<%= f.label(:title) %>
	<br />
	<%= f.text_field(:title) %>
	<br />
	<%= f.label(:content) %>
	<br />
	<%= f.text_area(:content) %>
	<br />
	<%= f.submit "Update post", :data => {:disable_with => "Updating your post....."} %>
<% end %>
		
		</div> <!-- post_form -->
	</div> <!-- posts_new_wrapper_in -->
</div> <!-- posts_new_wrapper -->
