
<% if session[:role] == "admin" %>
	<h2><%= link_to("Admin Panel", {:controller => "users", :action => "index"}) %></h2>
<% end %>

<h2>
	<%= session[:first_name] %> <%= session[:last_name] %>&nbsp;&nbsp;&nbsp;
	<%= link_to("Logout", {:controller => "users", :action => "logout"}) %>
</h2>

<%= link_to("New Post", :controller => "posts", :action => "new") %>

<% @posts.each do |post| %>
	 <h2><%= link_to(post.title.html_safe, :action => "show", :id => post.id) %>
	   &nbsp;&nbsp;
	   	<% if session[:user_id] == post.user_id && post.comments.count == 0 %>
	     <%= link_to("Edit", :action => "edit", :id => post.id) %>&nbsp;
	     <%= link_to("Delete", :action => "delete", :id => post.id) %>
	    <% end %>
	 </h2>

	 <p><%= truncate(post.content.html_safe, :length => 100, :escape => false,
	        :omission => "...........%s") % link_to("See more", {:action => "show", :id => post.id}) %>
	 </p>
	 <% if post.user_id.present? %>
		 <p>
		 	<%= time_ago_in_words(post.created_at) %> by

		 	<% if session[:role] == "admin" %>
		 		<%= "#{post.user.first_name} #{post.user.last_name}" %>
		 		(<%= link_to(post.user.registered_id,{:controller => "users", :action => "show", :id => post.user.id}) %>)
		 	<% else %>
		 		<%= "#{post.user.first_name} #{post.user.last_name}(#{post.user.registered_id})" %>
		 	<% end %>

	 	<p><%= pluralize(post.comments.count, "comment") %></p>

		 </p>
	 <% end %>
<% end %>