<%= link_to("New Post", {:action => "new"}) %>
<% @posts.each do |post| %>
  <h3 class = "post_title_index"><%= post.title %></h3>
  <%= link_to("Edit Post", {:action => "edit", :id => post.id}) %>
  <p class = "post_content_index"><%= truncate(post.content, :limit => 30 )%></p>
  <p>Posted by <%= post.user.email if post.user %></p>
  
<% end %>
