

<div id = "banner">
<div id = "banner_in">
	<div id = "welcome_name_wrapper">
		<h2 id = "welcome_name">
			<%= link_to("#{session[:first_name]} #{session[:last_name]}", {:controller => "users", :action => "show", :id => session[:user_id]}) %>
		</h2>
	</div> <!-- welcome_name_wrapper -->
	<div id = "new_post_wrapper">
		<%= link_to("Ask your Question", :controller => "posts", :action => "new", :id => "new_post") %>
	</div> <!-- new_post_wrapper -->
</div> <!-- banner_in -->
</div> <!-- banner -->

<div id = "posts_wrapper">

<% @posts.each do |post| %>

	<div class = "post_wrapper">
		<div class = "post_title">
			 <h2><%= link_to(truncate(post.title, :length => 50), :action => "show", :id => post.id) %></h2>
			   	<% if session[:user_id] == post.user_id && post.comments.count == 0 %>
			     <%= link_to("Edit", :action => "edit", :id => post.id) %>&nbsp;&nbsp;
			     <%= link_to("Delete", :action => "delete", :id => post.id) %>
			    <% end %>
		 </div> <!-- post_title -->
		 <div class = "post_content">
		 <p>
		 <%= truncate(post.content, :length => 70, :omission => "...........%s") % 
		              link_to("See more", {:action => "show", :id => post.id}) %>
		 </p>
		 </div> <!-- post_content -->

		 <% if post.user_id.present? %>
		 <div class = "post_details">
			 <p>
			 	<%= time_ago_in_words(post.created_at) %> ago by

			 	<% if session[:role] == "admin" %>
			 		<span><%= "#{post.user.first_name} #{post.user.last_name}" %></span>
			 		(<%= link_to(post.user.registered_id,{:controller => "users", :action => "show", :id => post.user.id}, :class => "arial") %>)
			 	<% else %>
			 		<%= "#{post.user.first_name} #{post.user.last_name}(#{post.user.registered_id})" %>
			 	<% end %>
			 </p>
		 </div> <!-- post_details -->
		 <div class = "comments_count">
		 	<p><%= pluralize(post.comments.count, "answer") %></p>
		 </div> <!-- comments_count -->
		 	<hr />
			 
		 <% end %>
	</div> <!-- post_wrapper -->
<% end %>

</div> <!-- posts_wrapper -->