<div id = "posts_new_wrapper">
	<div id = "posts_new_wrapper_in">
		<div id = "post_form">
		<%= form_for(:post, :url => {:action => "create"}) do |f| %>

			<%= f.label(:title, "Title of your question") %>
			<br />
			<%= f.text_field(:title) %>
			<br />
			<%= f.label(:content, "Ask your question") %>
			<br />
			<%= f.text_area(:content) %>
			<br />
			<%= f.submit 'Submit', data: { disable_with: "Creating your post..." } %>
		<% end %>
		</div> <!-- post_form -->
	</div> <!-- posts_new_wrapper_in -->
</div> <!-- posts_new_wrapper -->
