<%= link_to("Home", {:controller => "posts", :action => "index"}) %>
<h2><%= @post.title.html_safe %></h2>
<p><%= @post.content.html_safe %></p>


<br /><br />


<% Comment.where(:post_id => @post.id).each do |comment| %>
	<p><%= comment.answer %></p>
	<p><%= time_ago_in_words(comment.created_at) %></p>
	<p><%= comment.user.registered_id if comment.user_id.present? %></p>
	<br />

	<ul>
	<% Reply.where(:comment_id => comment.id).each do |reply| %>
		<li>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<%= reply.content if reply.content.present? %><br />
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			replied by <%= reply.user.registered_id %> <%= time_ago_in_words(reply.created_at)%> ago
		</li><br />

	<% end %>
	</ul>

	<br />

	<%= form_for Reply.new, :url => {:controller => "replys", :action => "create"} do |f| %>

	    <%= f.hidden_field(:comment_id, :value => comment.id) %>
		<%= f.hidden_field(:user_id, :value => session[:user_id]) %>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<%= f.label(:content, "Reply") %><br />
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<%= f.text_area(:content) %>	
		<%= f.submit("Post reply", :data => { :disable_with => "Posting reply" }) %>

	<% end %> 

    <br /><br />

<% end %>


<br /><br /><hr /><br /><br />


<%= form_for Comment.new, :url => {:controller => "comments", :action => "create"} do |f| %>
	<%= f.label(:answer) %><br />
	<%= f.text_area(:answer) %><br />
	<%= f.hidden_field(:post_id, :value => @post.id) %>
	<%= f.hidden_field(:user_id, :value => session[:user_id]) %>
	<%= f.submit("Post answer", :data => { :disable_with => "Posting answer" }) %>
<% end %>

<br /><br /><br /><br /><br /><br /><br />