<div id = "posts_show_page_wrapper">
	<div id = "post_and_details">
		<div id = "post">
			<h2><%= @post.title %></h2>
			<hr />
			<%= markdown @post.content %>
		</div>

		<div id = "post_details">
			<%= link_to(:controller => "posts", :action => "downvote", :id => @post) do %>		
					<i class="fa fa-thumbs-o-down"></i>
					<span>(<%= @post.get_downvotes.size %>)</span>						
			<% end %>
			<%= link_to(:controller => "posts", :action => "upvote", :id => @post) do %>
			    <i class="fa fa-thumbs-o-up"></i>
			    <span>(<%= @post.get_upvotes.size %>)</span>
			<% end %>

			<p>Posted by:</p>
			<p><%= "#{@post.user.first_name} #{@post.user.last_name}" %></p>
			<p><%= @post.user.registered_id %></p>
			<p><%= time_ago_in_words(@post.created_at) %> ago</p>
		</div>
	</div><!--post_and_details-->

  <div id = "answer_section">

		<h1><%= pluralize(@post.comments.count, "answer") %></h1>
		<hr />
		<% @comments.each do |comment| %>
			<div class = "answer_with_replies_and_form">
				<%= markdown comment.answer %>
				<div class = "comment_details">
					<div class = "comment_details_words">
						<%= time_ago_in_words(comment.created_at) %> ago<br />
						<%= comment.user.registered_id if comment.user_id.present? %><br />
						<%= "#{comment.user.first_name} #{comment.user.last_name}" if comment.user_id %>
					</div>
					<%= image_tag comment.user.profile_picture %>
				</div>

				<div class = "replies_list_and_form">
					<% if Reply.where(:comment_id => comment.id).count > 0 %>
						<div class = "replies_list">	
							<% Reply.where(:comment_id => comment.id).each do |reply| %>				
								<p class = "reply_content"><%= reply.content if reply.content.present? %></p>
								<p class = "reply_details">
						     <%= time_ago_in_words(reply.created_at)%> ago by
						     <%= reply.user.registered_id %>
								</p>
								<hr />
							<% end %>
						</div>
					<% end %>

					<%= form_for Reply.new, url: {controller: "replys", action: "create"} do |f| %>
					  <%= f.hidden_field(:comment_id, :value => comment.id) %>
						<%= f.hidden_field(:user_id, :value => session[:user_id]) %>
						<%= f.text_area(:content, :placeholder => "Comment above answer...") %><br />
						<%= f.submit("Post comment", :data => { :disable_with => "Posting comment" }) %>
					<% end %>
				</div><!--replies_list_and_form"-->

				<hr /> 
			</div><!--answer_with_replies_and_form-->
		<% end %>

		<h1 id = "comment_head">Give your answer to the above question</h1>
		
		<div id = "answer_form">
			<%= form_for Comment.new, url: {controller: "comments", action: "create"} do |f| %>
				<%= f.text_area(:answer, placeholder: "Write your detailed answer here...") %><br />
				<%= f.hidden_field(:post_id, :value => @post.id) %>
				<%= f.hidden_field(:user_id, :value => session[:user_id]) %>
				<%= f.submit("Post answer", :data => { :disable_with => "Posting answer" }) %>
			<% end %>
		</div>
 </div><!--answer_section-->
</div><!--posts_show_page_wrapper-->