<div id = "posts_show_page_wrapper">
	<div id = "post_and_details">
		<div id = "post">
			<h2><%= @post.title %></h2>
			<hr />
			<%= markdown @post.content %>
		</div>

		<div id = "post_details_with_voting">

			<div id = "voting_buttons">
				<%= link_to(:controller => "posts", :action => "upvote", :id => @post, remote: true) do %>
			    like <i class="fa fa-thumbs-o-up"></i>
			    <span id = "upvotes_count">(<%= @post.get_upvotes.size %>)</span>
				<% end %>
				<hr />
				<%= link_to(:controller => "posts", :action => "downvote", :id => @post, remote: true) do %>		
					Dislike <i class="fa fa-thumbs-o-down"></i>
					<span id = "downvotes_count">(<%= @post.get_downvotes.size %>)</span>						
				<% end %>
			</div>

			<div id = "post_details">
				<div id = "post_details_words">
					<p><%= time_ago_in_words(@post.created_at) %> ago</p>
					<p><%= @post.user.registered_id %></p>
					<p><%= "#{@post.user.first_name} #{@post.user.last_name}" %></p>
				</div>
				<%= image_tag @post.user.profile_picture %>
			</div>			
		</div>

	</div><!--post_and_details-->

  <div id = "answer_section">

  	<h1 id = "comment_head"><a href = "#", id = "answer_link">Answer this question</a></h1>

  	<div id = "answer_form">
			<%= form_for Comment.new, url: {controller: "comments", action: "create"} do |f| %>
				<%= f.text_area(:answer, placeholder: "Write your detailed answer here...") %><br />
				<%= f.hidden_field(:post_id, :value => @post.id) %>
				<%= f.hidden_field(:user_id, :value => session[:user_id]) %>
				<%= f.submit("Post answer", :data => { :disable_with => "Posting answer" }) %>
			<% end %>
		</div>

		<h1><%= pluralize(@post.comments.count, "answer") %></h1>
		<hr />
		<% @comments.each do |comment| %>
			<div class = "answer_with_replies_and_form">
				<%= markdown comment.answer %>
				<div class = "comment_details">
					<div class = "comment_details_words">
						<%= time_ago_in_words(comment.created_at) %> ago<br />
						<%= comment.user.registered_id if comment.user_id.present? %><br />
						<%= "#{comment.user.first_name} #{comment.user.last_name}" if comment.user_id %>
					</div>
					<%= image_tag comment.user.profile_picture %>
				</div>

				<div class = "replies_list_and_form">
					<% if Reply.where(:comment_id => comment.id).count >= 0 %>
						<div class = "replies_list", id = "replies_list_<%= comment.id %>">
							<% Reply.where(:comment_id => comment.id).each do |reply| %>				
								<p class="reply_content"><%= reply.content if reply.content.present? %></p>
								<p class = "reply_details">
								  <%= time_ago_in_words(reply.created_at)%> ago by
								  <%= reply.user.registered_id %>
								</p>
								<hr />
							<% end %>
						</div>
					<% end %>
					<!-- ,  id: "<%= comment.id %>" -->
					<%= link_to "Add your comment", "#", id: comment.id %>


					<script>
				

				   $("#<%= comment.id %>").click(function(event){
				   		event.preventDefault();
				   		$("#<%= comment.id %>2").fadeToggle(1000);
				   		$("#textarea_<%= comment.id %>").focus();
				   });
					</script>


					<%= form_for Reply.new, url: {controller: "replys", action: "create"}, remote: true,
							 html: {id: "#{comment.id}2"} do |f| %>
					  <%= f.hidden_field(:comment_id, :value => comment.id) %>
						<%= f.hidden_field(:user_id, :value => session[:user_id]) %>
						<%= f.text_area(:content, :placeholder => "Comment above answer...", class: "reply_textarea", id: "textarea_#{comment.id}") %><br />
						<%=f.submit("Post comment",data: {disable_with: "Posting comment" },id: "submit#{comment.id}") %>
					<% end %>
				</div><!--replies_list_and_form"-->

				<hr /> 
			</div><!--answer_with_replies_and_form-->
		<% end %>

		
		

 </div><!--answer_section-->
</div><!--posts_show_page_wrapper-->

