<!DOCTYPE html>
<html>
<head>
  <title>Forum</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Raleway:400,500,300,200,100,600,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag 'posts', 'data-turbolinks-track' => true %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script type="text/javascript" src="http://arrow.scrolltotop.com/arrow66.js"></script>
  <noscript>Not seeing a <a href="http://www.scrolltotop.com/">Scroll to Top Button</a>? Go to our FAQ page for more info.</noscript>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id = "body_wrapper">

	<header>
		<div id = "header_in">
			<h1 id = "logo"><%= link_to("GRIET FORUM",{controller: "posts", action: "index"})%></h1>
			<%= link_to(image_tag(User.find(session[:user_id]).profile_picture)	,
			  {:controller => "users", :action => "show", :id => session[:user_id]}) %>

			<%= link_to("Logout", {:controller => "users", :action => "logout"},:id => "logout_button") %>
			<% if session[:role] == "admin" %>
	        <%= link_to("Admin Panel", {:controller => "users", :action => "index"}) %>
			<% end %>
		</div>

		
	</header>

	<div id = "content_wrapper">

	<%= yield %>

	</div> <!-- content_wrapper -->

</div> <!-- body_wrapper -->

</body>
</html>
